.titlebar-buttonbox {
    margin-right: 20px;
}

.titlebar-button {
    padding: 0px !important;
    min-height: 13px !important;
    min-width: 13px !important;
    height: 13px !important;
    align-self: center;
    margin-left: 5px !important;
    border-radius: 50px;
    transition: all 100ms;
}

.titlebar-min {
    background-color: hsl(197deg, 48%, 47%) !important;
}

.titlebar-max,
.titlebar-restore {
    background-color: hsl(35deg, 88%, 72%) !important;
}

.titlebar-close {
    background-color: hsl(343deg, 76%, 68%) !important;
}

@media (-moz-bool-pref: "theme.zen-minimal-exit-menu.enable-macos-identic") {
    .titlebar-button:hover {
        opacity: 0.25 !important;
    }
}

/* Hide all child elements inside the buttons when icon visibility is disabled */
@media not (-moz-bool-pref: "theme.zen-minimal-exit-menu.enable-icon-visibility") {

    .titlebar-button image,
    .titlebar-button .toolbarbutton-icon,
    .titlebar-button::before,
    .titlebar-button::after {
        display: none !important;
        visibility: collapse !important;
    }
}    

@media (-moz-bool-pref: "theme.zen-minimal-exit-menu.enable-macos-identic") {
    .titlebar-min:hover {
        background-color: hsl(197deg, 48%, 47%) !important;
    }

    .titlebar-max:hover,
    .titlebar-restore:hover {
        background-color: hsl(35deg, 88%, 72%) !important;
    }

    .titlebar-close:hover {
        background-color: hsl(343deg, 76%, 68%) !important;
    }
}

@media not (-moz-bool-pref: "theme.zen-minimal-exit-menu.enable-macos-identic") {
    .titlebar-button {
        background-color: var(--zen-colors-border) !important;
    }

    .titlebar-min:hover {
        background-color: hsl(197deg, 48%, 47%) !important;
    }

    .titlebar-max:hover,
    .titlebar-restore:hover {
        background-color: hsl(35deg, 88%, 72%) !important;
    }

    .titlebar-close:hover {
        background-color: hsl(343deg, 76%, 68%) !important;
    }

    .titlebar-button:hover {
        min-height: 20px !important;
    }
}